<h1>All Photos</h1>
<p>Here is the list of all photos.</p>
<div class="table-responsive">
  <table class="table table-condensed table-hover table-bordered">
<thead>
      <tr>
        <th>Album ID</th>
        <th>ID</th>
        <th>Title</th>
        <th>Url</th>
        <th>Thumb Url</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let photo of photos">
        <td>{{ photo.albumId }}</td>
        <td>{{ photo.id }}</td>
        <td>{{ photo.title }}</td>
        <td>{{ photo.url }}</td>
        <td>{{ photo.thumbnailUrl }}</td>
      </tr>
    </tbody>
  </table>
</div> 