<h1>All Albums</h1>
<p>Here is the list of all albums.</p>
<div class="table-responsive">
  <table class="table table-condensed table-hover table-bordered">
<thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>User Name</th>
        <th>EMail</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
      </tr>
    </tbody>
  </table>
</div> 